/* Style for the 'binaryCalculator' class */
/*#whole{
    color: #C0C0C0;
    width:100%;
    border-style:solid;
}*/

body{
    width: 33%;
}

/* Style for 'buttonClass' elements inside a 'buttonContainer' */
.buttonContainer > .buttonClass {
        width: 25%;
        height: 36px;
        font-size: 18px;
        margin: 0px;
        float: left;
}

#btn0, #btn1{
    background-color: #90EE90;
    color: #A52A2A;
}

#btnClr, #btnEql{
    background-color: #006400;
    color: #FFFFFF;
}

#btnSum, #btnSub, #btnMul, #btnDiv{
    background-color: #000000;
    color: #FF0000;
}

#res {
        height: 48px;
        font-size: 20px;
        border-style: solid;
        border-width: 2px;
        /* Set the background color to a shade of green */
        background: #D3D3D3;
}
